# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#LICENCIA
LICENSE

##Ignores de la parte de cliente
# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# production
/client/build

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*


##Ignores del servidor Flask
/flask-server/__pycache__
/flask-server/.pytest_cache
/flask-server/uploads
/flask-server/venv
/flask-server/.env
/flask-server/.flaskenv
/flask-server/.coverage